<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Poppins-Black</string>
		<string>Poppins-Bold</string>
		<string>Poppins-ExtraBold</string>
		<string>Poppins-ExtraLight</string>
		<string>Poppins-Light</string>
		<string>Poppins-Medium</string>
		<string>Poppins-Regular</string>
		<string>Poppins-SemiBold</string>
		<string>Poppins-Thin</string>
	</array>
</dict>
</plist>
